* {
    box-sizing: border-box;
}

/* variablen Definitionen fütr schnelleren Schema-Wechsel */
:root{
	--TextColor: #F0F8FF;
	--bgBodyColor: #24232d;
	--bgHeaderColor: #3b3a45;
	--bgPopupColor: #1e1d27;
	--bgProductColor: #3b3a45;
	--bgSidebarColor: #1e1d27;
	--bgTitleColor: #F0F8FF;
	--bgCloseButtonColor: transparent;
	--bgAddButtonColor: #FFA500; 
}

p,h1,h2,label {
	color: var(--TextColor);
}

body {
	background-color: var(--bgBodyColor);
}

.body {
	left: 0px;
    position: absolute;
	top: 15vh;
}

header {
	background-color: var(--bgHeaderColor);
	height: 15vh;
    position: fixed;
	right: 0px;
	top: 0px;
	width: 100vw;
    z-index: 100;
}

aside {
	background-color: var(--bgSidebarColor);
	height: 85vh;
	position: fixed;
	right: 0px;
	top: 15vh;
	width: 20vw;
	z-index: 100;
}
.title {
	-moz-transform: scale(-1,1);
	-ms-transform: scale(-1,1);
	-o-transform: scale(-1,1);
	-webkit-transform: scale(-1,1);
	color: var(--TextColor);
	font-size: 10vh;
	height: 10vh;
	margin-left: 2.5vh;
	margin-top: 2.5vh;
	transform: scale(-1,1);
	width: fit-content;
}

.category-title {
    font-size: 50px;
    margin-bottom: 5vh;
	margin-left: 2vw;
	margin-top: 5vh;
}

/* ---Pizza--- */

.pizza-product {
    background-color: var(--bgProductColor);
    border-radius: 10px;
    height: 200px;
	margin-left: 2vw;
	margin-top: 5vh;
	width: 76vw;
}

.pizza-product-name {
    font-size: 30px;
	margin-left: 30px;
    margin-top: 20px;
    position: absolute;
}

.pizza-product-price {
	color: var(--TextColor);
	margin-top: 10px;
    position: absolute;
    right: 200px;
}

.pizza-product-info {
	font-size: 22px;
    margin-left: 50px;
    margin-top: 70px;
	position: absolute;
}

.pizza-product-info-button {
	border-radius: 12px;
	height: 23px;
	margin-left: 20px;
	margin-top: 75px;
    position: absolute;
    width: 23px;
}

.pizza-product-add-button {
	background-color: var(--bgAddButtonColor);
    border-radius: 17px;
	border: 0px;
    font-size: 20px;
	height: 40px;
    margin-top: 120px;
	position: absolute;
	right: 150px;
	width: 200px;
}

.pizza-product-info-close-button {
	background-color: var(--bgCloseButtonColor);
	border: 0px;
	color: #F0F8FF;
	font-weight: bold; 
    position: absolute;
		right: 10px;
}

.pizza-product-info-popup {
	visibility: hidden;
	background-color: var(--bgPopupColor);
	border-radius: 10px;
	height: 200px;
	left: 8vw;
	padding: 10px;
    position: absolute;
	width: 40vw;
	z-index: 50;
}

.pizza-product-info-popup-header {
    font-size: 20px;
	left: 20px;
	line-height: 0px;
    position: relative;
}

.pizza-product-info-popup-text {
	left: 30px;
    position: relative;
}

.pizza-product-add-popup {
    visibility: hidden;
    background-color: var(--bgPopupColor);
    border-radius: 10px;
    height: 400px;
    left: 8vW;
    padding: 10px;
    position: absolute;
    width: 60vW;
    z-index: 50;
}

.pizza-product-add-close-button {
    background-color: transparent;
    border: 0;
    color: var(--TextColor);
    right: 10px;
    position: absolute;
}

.pizza-product-add {
    background-color: var(--bgAddButtonColor);
    border: 0;
    border-radius: 15px;
    height: 40px;
    position: absolute;
    font-size: large;
    padding-left: 10px;
    padding-right: 10px;
    right: 20px;
    bottom: 20px;
}